body {
    background-color: #14283C;
    color: #D0D4D8;
    font-family: 'Georgia', serif;
    font-size: 15px;
}

h1 {
    border-bottom: 3px solid #A6AAAD;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    text-align: center;
}

table {
    background-color: #283D55;
    border: 3px double #A6AAAD;
    margin: 0px auto;
    text-align: center;
}

th {
    font-size: 24px;
    text-shadow: 4px 2px #203144;
}

td {
    background-color: #203144;
    padding: 15px;
}

a {
    color: #FFFFFF;
}
