html, body {
  height:100%;
  background-color: DarkSlateGray;
}

body {
  padding-top: 50px;
}

#lib-control {
  margin: 10px 5px;
}

#lib-control .disabled {
  cursor: auto;
}

#lib-search {
  margin: 10px 5px;
  max-width: 210px;
}

#user-account-btn {
  margin: 10px 5px;
}

#user-account-btn ul li {
  cursor: pointer;
}

#user-account-btn .glyphicon-user {
  padding-right: 3px;
}

.container-fluid {
  height:100%;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.table-responsive {
  padding-top: 10px;
}

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #EEE;
 } 
 
#lib-table th {
  color: #FFF;
  text-align: center;
}

#lib-table td {
  color: #445;
}
